* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
:root {
  --text-color: #222222;
  --button-color: #451162;
  --bg-color: #fff;
  --second-text-color: #626262;
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --neon-box-shaddow: 0 0 0.5rem #12f7ff;
  --h2-font: 3rem;
}
/* Scrollbar------------- */
::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: 5rem;
}

body {
  font-family: Sofia Sans;
  height: 100%;
  padding-top: 70px;
}

/* Navbar Section */
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid #fff;
  padding: 12px 10%;
}
header .logo img {
  width: 100px;
}
header .navlist li {
  position: relative;
}

.navlist {
  display: flex;
  color: #000;
}
.navlist a {
  display: inline-block;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.5s;
  animation: slideAnimation 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  opacity: 0;
  position: relative;
  font-family: Sofia Sans;
  font-size: 20px;

  line-height: 28.8px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.navlist a:hover {
  color: var(--button-color);
}
header .navlist a.active {
  font-weight: bold;
  color: var(--button-color);
  position: relative;
}

header .navlist a.active::after {
  content: "";
  position: absolute;
  left: 19px;
  bottom: 5px;
  height: 2px;
  width: 41%;
  background-color: var(--button-color);
  transition: width 0.3s ease;
}

header .navlist a:hover::after {
  width: 50%;
}
#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background: #fff;
  border-radius: 3px;
  color: #000;
  display: none;
}
.navlist a.active {
  font-weight: bold;
  color: #000;
}
/* Border for Get Involved link */
.nav-link.get-involved {
  color: var(--button-color);
  border: 2px solid var(--button-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
  transition: 0.7s ease;
}
.nav-link.get-involved:hover {
  background-color: var(--button-color);
  color: white;
  border: none;
}
/* Background color for Contact Us link */
.nav-link.contact-us {
  background-color: var(--button-color);
  color: var(--bg-color);
  padding: 5px 10px;
  border-radius: 5px;
}
.nav-link.contact-us:hover {
  background-color: transparent;
  border: 2px solid var(--button-color);
  color: var(--button-color);
}

/* Responsiveness */
@media (max-width: 990px) {
  header,
  header.sticky {
    padding: 15px 5%;
  }
  .navlist {
    padding: 8px 15px;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }
  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0 5%;

    transition: all 0.7s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  header .navlist a.active::after {
    width: 8%;
    bottom: 10px;
  }
  .navlist.open {
    top: 100%;
    display: flex;
  }
}
/* Responsiveness */
@media (max-width: 990px) {
  header,
  header.sticky {
    padding: 15px 5%;
  }
  .navlist {
    padding: 8px 15px;
  }

  .home-content {
    margin-top: 5rem;
  }
  .nav-link.get-involved {
    margin-bottom: 30px;
    width: 50%;
    margin-left: 1.1rem;
  }
  .nav-link.contact-us {
    width: 50%;
    margin-left: 1.1rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }
  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0 5%;
    transition: all 0.7s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .navlist.open {
    top: 100%;
  }
}
/* End of Navbar Section */

/* Hero Section */
.home-section {
  position: relative;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 69px;
}
.hero-section {
  position: relative;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 20%;
  text-align: left;
  width: 52%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-caption h5 {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
  color: #fff;
}
.carousel-caption h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  font-family: Sofia Sans;
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-bottom: 20px;
}

.carousel-caption p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 60px;
  font-weight: 400;
  font-family: Sofia Sans;
}

.btn-donate {
  background-color: var(--button-color);
  color: #fff;
  width: Hug (165px) px;
  height: Hug (48px) px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  top: 10%;
  margin-left: 45%;
  transition: 0.5s;
  font-size: 1.5rem;
  text-decoration: none;
}

.btn-donate:hover {
  background-color: #fff;
  color: var(--button-color);
}

/* Remove carousel controls */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}
/* Style the h1 */
.styled-title {
  font-size: 3rem;
  font-family: Arial, sans-serif;
  text-align: left;
  display: block;
  font-weight: bold;
  color: #fff;
}

/* Style the first part of the title */
.first-part {
  display: block;
  margin-bottom: -18px;
}

/* Style the second part of the title */
.second-part {
  display: block;
  margin-top: -30px;
}

/* Line----------- */
.under {
  display: block;
  width: 100%;
  height: 60px;
  margin-left: 85px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .hero-section {
    height: 100vh;
  }
  .home-section {
    margin-top: 60px;
  }
  .styled-title {
    font-size: 1rem;
  }

  .carousel-caption h5 {
    font-size: 1.2rem;
  }

  .carousel-caption p {
    font-size: 1.2rem;
    max-width: 90%;
  }

  .carousel-caption {
    text-align: left;
    padding: 1rem;
    top: 32%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .btn-donate {
    padding: 0.6rem 1.2rem;
    font-size: 1.5rem;
    margin-left: 30%;
    top: 40% !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .styled-title {
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    text-align: left;
    display: block;
    font-weight: bold;
    color: #fff;
  }

  .first-part {
    display: block;
    margin-bottom: -18px;
  }

  .second-part {
    display: block;
    margin-top: -30px;
    font-size: 3.5rem;
  }

  .under {
    display: block;
    width: 100%;
    height: 60px;
    margin-left: 5px;
  }
}

/* End of hero section */

/* Intro Section */
.intro-text {
  background-color: #ffffff; /* White background */
}
.intro-text h2 {
  font-size: 32px;
  color: var(--button-color);
  margin-bottom: 15px;
}
.intro-lead {
  color: var(--second-text-color);
  font-size: 1.5rem;
}

/* Intro Text Responsivenes------ */
@media (max-width: 768px) {
  .intro-text h2 {
    font-size: 18px;
  }
  .intro-lead {
    font-size: 1.1rem;
  }
}
/* End of intro text section */

/* Work Section--------- */
.work-section {
  background-color: #4511620a;
}
.card {
  border: none;
  background-color: transparent;
  transition: 0.5s;
}

.card-title {
  font-size: 24px;
  color: #222222;
}

.card-text {
  font-size: 18px;
  color: #626262;
}
.card img {
  width: 120px;
}
.work-btn {
  font-size: 18px;
  width: Hug (142px) px;
  height: Hug (48px) px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #cc72ff;
  background-color: #cc72ff;
  color: var(--bg-color);
  transition: 0.5s;
}
.work-btn:hover {
  background-color: var(--bg-color);
  color: #cc72ff;
  border: 1px solid #cc72ff;
}
.prog-btn {
  font-size: 18px;
  width: Hug (142px) px;
  height: Hug (48px) px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: #18a6dc;
  color: var(--bg-color);
  border: 1px solid #18a6dc;
  transition: 0.5s;
}
.prog-btn:hover {
  background-color: var(--bg-color);
  color: #18a6dc;
  border: 1px solid #18a6dc;
}
.media-btn {
  font-size: 18px;
  width: Hug (142px) px;
  height: Hug (48px) px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: #ca1f7b;
  color: var(--bg-color);
  border: 1px solid #ca1f7b;
  transition: 0.5s;
}
.media-btn:hover {
  background-color: var(--bg-color);
  color: #ca1f7b;
  border: 1px solid #ca1f7b;
}
/* End of work Section */

/* About Section------- */
.about-section {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.dot-grid-background-left {
  position: absolute;
  top: 50%;
  left: 34;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 8px);
  grid-template-rows: repeat(6, 8px);
  gap: 20px;
  z-index: 1;
}

.dot-grid-background-left .dot {
  width: 8px;
  height: 8px;
  background-color: var(--button-color);
  border-radius: 50%;
}

.about-content {
  position: relative;
}

.container {
  position: relative;
  z-index: 2;
}

/* Title Line */
.title-line {
  height: 4px;
  background-color: var(--button-color);
  max-width: 10%;
  margin-right: 10px;
}

.section-title {
  font-size: 24px;
  color: #222222;
}
.main-title {
  color: #451162;
  font-size: 48px;
  font-weight: 700;
}
.know-us p {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #626262;
}
.know-divs h5 {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #222222;
}
.know-btn {
  width: Hug (142px) px;
  height: Hug (48px) px;
  top: 458.88px;
  left: 129.2px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  border: #451162 1px solid;
  opacity: 0px;
  background-color: #451162;
  transition: 0.5s;
}
.know-btn:hover {
  background-color: var(--bg-color);
  color: #451162;
  border: #451162 1px solid;
}
/* Image Container with Opposite Shadow Effect */
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.active-image {
  opacity: 1;
  z-index: 2;
  transform: translateX(0);
}

.inactive-image {
  opacity: 0;
  z-index: 1;
  transform: translateX(-20px);
  box-shadow: -20px 0 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
  .main-title {
    font-size: 24px;
  }
  .know-us p {
    font-size: 18px;
    width: 95%;
  }
  .dot-grid-background-left {
    display: none;
  }
  .dot-grid-background-right {
    display: none !important;
  }
  .image-container {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
  }
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
}
/* End of About Section */

/* Events Section------------------------ */
.events-section {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.subtitle {
  font-family: Sofia Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
  text-align: center;
}
.text-muted {
  width: Fixed (261px) px;
  height: Fixed (29px) px;
  top: 2485.84px;
  left: 589.5px;
  gap: 0px;
  opacity: 0px;
  color: var(--second-text-color);
  text-align: center;
  font-size: 24px;
}
.dot-grid-background-right {
  position: absolute;
  top: 55%;
  right: 30;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 8px);
  grid-template-rows: repeat(6, 8px);
  gap: 20px;
  z-index: 1;
}

.dot-grid-background-right .dot {
  width: 15px;
  height: 15px;
  background-color: var(--button-color);
  border-radius: 50%;
}

/* Vertical Line for Events */
.vertical-line {
  width: 10px;
  background-color: #451162;
  border-radius: 5px;
  height: 90px;
}
.event-item {
  align-items: start;
}

.event-title {
  font-family: Sofia Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}
/* Styling for Date */
.event-date {
  text-align: center;
  min-width: 50px;
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.6px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.event-details {
  width: Fixed (216px) px;
  height: Fixed (22px) px;
  top: 220px;
  left: 707.96px;
  gap: 0px;
  opacity: 0px;
  color: var(--second-text-color);
}
.event-date .date-day .date-year {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.event-date .date-month .date-year {
  text-transform: uppercase;
  color: #626262;
}
.event-details i {
  font-size: 24px;
}
.event-btn {
  width: Hug (142px) px;
  height: Hug (48px) px;
  top: 3047px;
  left: 649px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--button-color);
  color: var(--bg-color);
  transition: 0.5s ease-in;
  margin-top: 20px;
}
.event-btn:hover {
  background-color: var(--bg-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
/* Responsive adjustments */
@media (max-width: 767px) {
  .event-item {
    flex-direction: row !important; 
    line-height: normal;
  }
  .subtitle {
    text-align: left !important;
    line-height: normal;
  }
  .event-date {
    font-size: 1.2rem;
    margin-top: 6px;
    margin-right: 8px;
  }
  .vertical-line {
    margin-right: 3px;
  }
  .event-date .date-day .date-year{
    line-height: normal;
  }
}
/* End of Events Section */

/* Testimonies Section----------- */
.test img {
  width: 150px;
  height: 130px;
}
.story-content {
  font-family: Sofia Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}
.name {
  font-family: Sofia Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

.testimony-video-container {
  position: relative;
  max-width: 65%;
  margin: 0 auto;
}

.testimony-video-container video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .text-start {
    width: 85%;
  }
  .story-content {
    text-align: center;
    padding: 0px 10px;
  }
  .name {
    text-align: center !important;
    line-height: normal;
  }
  .testimony-video-container {
    max-width: 100%;
  }
  .test img {
    width: 210px;
  }
}
/* End of Testimonies Section */

/* Volunteer section---- */
.volunteer-btn {
  width: Hug (142px) px;
  height: Hug (48px) px;
  top: 3047px;
  left: 649px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--button-color);
  color: var(--bg-color);
  transition: 0.5s ease-in;
}
.volunteer-btn:hover {
  background-color: var(--bg-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
/*End of Volunteer section---- */

/* Blogs Sction----- */

.date {
  font-family: Sofia Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}
.blog-p {
  font-family: Sofia Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}
.read {
  font-family: Sofia Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--button-color);
  transition: 0.3s ease-in;
  text-decoration: none;
}
.read:hover {
  text-decoration: underline;
  color: var(--text-color);
}

@media (max-width: 767px) {
  .blog-p {
    font-size: 1rem;
    line-height: normal;
  }
  .gallery img {
    width: 175px !important;
    height: 170px !important;
  }
}
/* End Of Blog Section */

/* Gsllery Section--------- */
.gallery img {
  width: 250px;
  height: 215px;
}

/* Footer Section-------------- */

.footer-section {
  background-color: var(--button-color);
  color: #fff;
}

.footer-section .company-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-section .logo-img {
  width: 50px;
  margin-right: 10px;
}

.footer-section .company-name {
  display: inline-block;
  font-size: 1.25rem;
}

.footer-section p {
  font-family: Sofia Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.footer-section .copyright {
  font-size: 1.8rem;
  color: #888;
}

.footer-section h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer-section .footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0.5rem;
}

.footer-section .footer-links a:hover {
  color: #ddd;
  text-decoration: underline;
}

.footer-section .social-icons {
  display: flex;
  gap: 35px;
}

.footer-section .social-icons a {
  color: #fff;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.footer-section .social-icons a:hover {
  color: #ddd;
  transform: scale(1.5);
}

/* Centering text on mobile */
@media (max-width: 768px) {
  .footer-section .text-center {
    text-align: center;
  }

  .footer-section .text-md-start {
    text-align: center !important;
  }
  .footer-section .social-icons {
    gap: 25px;
  }
  .footer-section .copyright {
    font-size: 1.3rem;
  }
}
/* End Of Footer Section */

/* Abous Us Page--------------- */
.about-intro-section {
  position: relative;
  max-width: 100%;
  height: 80vh;
  overflow: hidden;
  margin-top: 80px;
}
.about-intro {
  margin-top: 40px;
}

.heading-top-left {
  margin-left: 10% !important;
  font-weight: bold;
  color: var(--button-color);
  width: 40%;
  font-family: Sofia Sans;
  font-size: 2rem;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.heading-bottom-right {
  margin-left: 60%;
}
.heading-bottom-right h2 {
  font-family: Sofia Sans;
  font-size: 2rem;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--button-color);
}
.heading-bottom-right p {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}

@media (max-width: 768px) {
  .heading-top-left {
    display: none;
  }
  .heading-bottom-right {
    margin-left: 8%;
  }
  .heading-bottom-right h2 {
    font-size: 1.2rem;
  }
  .about-intro {
    margin-top: 10px;
  }
  .about-intro-section {
    height: 40vh;
  }
}
/* End of Intro */

/* About Video Section */
#about-video {
  padding: 50px 0;
  background-color: #f0f0f0;
  text-align: center;
}

.video-container {
  position: relative;
  max-width: 65%;
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Mission and Vision Section Styling */
.mission-vision-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping on larger screens */
  gap: 50px;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.mission,
.vision {
  flex: 1;
  padding: 20px;
}

.mission h2,
.vision h2 {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

.mission h3,
.vision h3 {
  font-family: Sofia Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--button-color);
}

.mission p,
.vision p {
  font-family: Sofia Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}

@media (max-width: 768px) {
  .video-container {
    max-width: 90%;
  }
  .play-icon {
    font-size: 25px;
    top: 11%;
    width: 69px;
    height: 69px;
  }
  .mission-vision-container {
    flex-wrap: wrap;
    gap: 0;
  }
  .core-under {
    width: 90% !important;
  }
  .mission h3,
  .vision h3 {
    font-size: 1.9rem;
    line-height: normal;
  }
}
/* End of Video Section */

/* Values Section---------------- */
.core {
  font-family: Sofia Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  /* text-align: left; */
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

.core-under {
  display: block;
  width: 100%;
  height: 60px;
  margin-left: 40px;
}
.account {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #a774e8;
}
.part {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #18a6dc;
}
.human {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #451162;
}
.lead {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #954f91;
}
.trans {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #c2762f;
}
.serv {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6fa721;
}
.res {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #132593;
}
/* End Of Core Values Section------- */

/* Focus Section */

.dot-grid-background-core {
  position: absolute;
  top: 50%;
  left: 34;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 8px);
  grid-template-rows: repeat(6, 8px);
  gap: 20px;
  z-index: 1;
}

.dot-grid-background-core .dot {
  width: 8px;
  height: 8px;
  background-color: var(--button-color);
  border-radius: 50%;
}

.focus-section h2 {
  font-family: Sofia Sans;
  font-size: 2rem;
  font-weight: 600;
  line-height: 52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #451162;
}
.focus-section p {
  font-family: Sofia Sans;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30.49px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}

/* Split image------ */
.image-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  width: 100%;
  height: 400px;
}

.image-part {
  background-image: url("/assets/images/split6.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.top {
  grid-row: 1;
  grid-column: 1 / span 2;
  border-radius: 10px;
}

.bottom-left {
  grid-row: 2;
  grid-column: 1;
  background-position: left center;
  border-radius: 10px;
}

.bottom-right {
  grid-row: 2;
  grid-column: 2;
  background-position: right center;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .dot-grid-background-core {
    display: none;
  }

  .image-container {
    display: block;
    height: auto;
  }

  .image-part {
    display: none;
  }

  .image-part.top {
    display: block;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  }
  .image-part:hover {
    transform: none;
  }
}
/* End of focus section------------ */

/* Staff Section------- */
.staff-section h2 {
  font-family: Sofia Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}
.staff-section h4 {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}
.staff-section p {
  font-family: Sofia Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #454545;
}
.staff-image {
  width: 300px;
  height: 250px;
}
@media (max-width: 768px) {
  .staff-section img:hover {
    transform: none;
  }
}
/* End O staff Section----------- */

/* History Section Styling */
.history-section {
  display: flex;
  justify-content: center;
}

.history {
  background-color: #44143f;
  width: 90%;
  border-radius: 8px;
}

/* Left side text styling */
.history h4 {
  font-family: Sofia Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: 2px;
  color: #ffffff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.history h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Sofia Sans;
  color: #ffffff;
}

.history p {
  font-family: Sofia Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.horizontal-lines {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.span-container {
  width: 30%;
  padding: 0px 20px;
  text-align: center;
}

.top {
  font-size: 18px !important;
  margin-bottom: 5px;
  color: #fff;
  font-family: Sofia Sans !important;
  font-weight: 700 !important;
}
.down {
  font-family: Sofia Sans !important;
  font-size: 14px !important;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.image-wrapper {
  text-align: left;
}

.history-image {
  width: 100%;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.history-image:hover {
  transform: scale(1.05);
  filter: brightness(0.8) saturate(1.2);
}

@media (max-width: 768px) {
  .history {
    width: 100%;
  }
  .history h4,
  .history h2,
  .history p {
    text-align: center;
  }
  .span-container {
    width: 50%;
  }
  .image-wrapper {
    text-align: center;
  }
  .history-image:hover {
    transform: none;
  }
}

/* End Of About Us Page-------------- */

/* What We Do Page---------- */

/* What We Do Section Styling */
.what-we-do {
  background-color: #ffffff;
  position: relative;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 80px;
}

.what-heading {
  font-family: Sofia Sans;
  font-size: 48px;
  font-weight: 600;
  color: #451162;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.what-we-do p {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}

.what-we-do .image-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-we-do-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
}

.what-we-do-image:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .what-we-do {
    height: 85vh;
  }
  .image-wrapper {
    justify-content: center;
  }
  .what-heading {
    font-size: 25px;
  }
  .what-we-do p {
    font-size: 18px;
  }
  .what-we-do-image {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
  .what-we-do-image:hover {
    transform: none;
  }
}
/* End Of What We do Section-------- */

.offer-section {
  background-color: #f8f9fa; /* Light background */
}

.offer-heading {
  font-family: Sofia Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  color: #451162;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.offer-section .bi {
  font-size: 1.75rem;
}

.list-unstyled li {
  margin-bottom: 0.5rem;
}

.offer-section h5 {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: var(--text-color);
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.offer-section li {
  font-family: Sofia Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #454545;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (max-width: 768px) {
  .offer-heading {
    font-size: 24px;
    line-height: normal;
  }
}
/* End Of Offer page---------- */

/* Resources & Research Page */

/* resource home Section-------- */
.resources-research-section {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/images/RAPH-PIXELS_98.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 70px;
}

.resources-content {
  text-align: center;
}

.resources-title {
  font-family: Sofia Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/*Resouces & Research Intro Texts */
.resource-intro-section {
  background-color: #ffffff;
  /* padding: 4rem 1rem;  */
}

.resource-intro-text {
  font-family: Sofia Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #626262;
}
@media (max-width: 768px) {
  .resources-research-section {
    margin-top: 61px;
  }
  .resources-title {
    font-size: 32px;
  }
  .resource-intro-text {
    font-size: 20px;
    line-height: 25px;
  }
  .research-part img {
    width: 315px !important;
    height: 250px !important;
  }
}
/* End of Intro Section--------- */

/* Research section */
.research-section {
  background-color: #f9f9f9;
}

.research-title {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
}

.research-part {
  background: white;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
}
.research-part img {
  width: 500px;
  height: 315px;
}
.research-heading {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #451162;
}

.research-text {
  font-family: Sofia Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}

.btn-link {
  font-family: Sofia Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #451162;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition: 0.3s ease-in;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
  color: var(--second-text-color);
}

/* End of Resources & Research Page */

/*Sexual Health Page */
.research-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/sexual.png") no-repeat center center/cover;
  top: -14%;
}
.research-content-section {
  position: relative;
  width: 100%;
  height: 120vh;
  background: #f4f4f4;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
}

.research-title {
  font-family: Sofia Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #451162;
  text-align: left;
}

.research-text {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}

.button-wrapper {
  align-self: flex-start;
}

.resources-btn {
  width: Hug (226px) px;
  height: Hug (58px) px;
  top: 1286.29px;
  left: 100.46px;
  padding: 15px 21px 15px 21px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  border: 0.5px 0px 0px 0px;
  opacity: 0px;
  background-color: #ffffff;
  color: #451162;
  border: 1px solid #451162;
}

.resources-btn:hover {
  background-color: #451162;
  color: #ffffff;
}

@media (max-width: 768px) {
  .research-page {
    height: 55vh;
  }
  .research-content-section {
    padding: 0 1rem;
    top: -50;
  }
  .research-title {
    font-size: 25px;
  }
  .research-text {
    font-size: 17px;
    line-height: 25.78px;
  }
}
/*End Sexual Health Page */

/* Gender Page ---------------*/
.gender-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/gender.png") no-repeat center center/cover;
  top: -14%;
}
/* End of Gender Page ---------------*/

/* Menstrual Page--------- */
.menstrual-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/research3.png") no-repeat center center/cover;
  top: -14%;
}
/* End Of Menstrual Page--------- */

/* Building Esteem Page---------- */
.building-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/self.png") no-repeat center center/cover;
  top: -14%;
}
/* Enf Of Building Esteem Page---------- */

/* Blog Post Page */
.blog-post-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/blog-post.png") no-repeat center center/cover;
  top: -14%;
}
.stories-more-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/assets/images/blog-post.png") no-repeat center center/cover;
  top: -14%;
}
@media (max-width: 768px) {
  .blog-post-page {
    height: 55vh;
  }
  .gender-page {
    height: 55vh;
  }
  .menstrual-page {
    height: 55vh;
  }
  .building-page {
    height: 55vh;
  }
  .stories-more-page {
    height: 55vh;
  }
}

/* Impact Stories page */
.impact-stories {
  background-color: #ffffff; /* Light background */
  margin-top: 20px;
}
.date-muted {
  color: var(--text-color);
  font-family: Sofia Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.impact-heading {
  font-family: Sofia Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #451162;
}

.story-details {
  width: 70%;
}
.story-details p {
  font-family: Sofia Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.author-info {
  margin-top: 2rem;
  border-left: 3px solid #451162;
  padding-left: 1rem;
  width: 70%;
}

.vertical-line {
  width: 3px;
  height: 100px;
  background-color: #451162;
}

.author-name {
  font-size: 1.2rem;
  color: #333;
}

@media (max-width: 768px) {
  .impact-heading {
    font-size: 25px;
    line-height: 25px;
  }
  .story-details {
    width: 100% !important;
  }
  .author-info {
    width: 90%;
  }
  .after-title {
    font-size: 25px !important;
    line-height: 24px !important;
  }
}
/* End Of Stories Home Section------ */
/* Images--------- */
.stories-images {
  background-color: #f8f9fa; /* Light gray background */
}

.after-title {
  font-family: Sofia Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

/* End--------------- */
.impact-title {
  font-family: Sofia Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.impact-section h3 {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}

@media (max-width: 768px) {
  .impact-section h3 {
    font-size: 23px;
    line-height: 20px;
  }
}

/* Get Involved Page--------------- */
.get-involved-section {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/images/get.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 70px;
}

.get-involved-section .get-title {
  font-family: Sofia Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
/* DOnate Section----------- */

.donate-head {
  font-family: Sofia Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}
.donate-section h3 {
  font-family: Sofia Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--button-color);
}
.donate-section h5 {
  font-family: Sofia Sans;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}
.donate-section p {
  font-family: Sofia Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
}
.donate-btn {
  width: Hug (165px) px;
  height: Hug (48px) px;
  top: 309.25px;
  left: 77.18px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--bg-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
  transition: 0.3s ease-in;
}

.donate-btn:hover {
  background-color: var(--button-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}
.donate-section img {
  max-width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}
/* End Of Get Involved Page---- */

/* Contact Us Page---------------- */
.contact-us-section {
  background-color: #f9f9f9;
  margin-top: 70px;
}

.contact-us-section .section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.contact-us-section .section-heading {
  font-size: 1.5rem;
  color: #555;
}

.contact-us-section .icon i {
  transition: transform 0.3s ease;
  color: var(--button-color);
}

.contact-us-section .icon i:hover {
  transform: scale(1.2);
}

.contact-us-section span {
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  color: inherit;
}
.border-bottom {
  color: var(--text-color) !important;
}
/* Contact Section------------- */
.contact-section {
  background-color: #f9f9f9;
}

.contact-section .section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.contact-section p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.contact-section .form-control {
  border-radius: 0.5rem;
  border: 1px solid #ddd;
}

.contact-section .btn-primary {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}
.contact-section textarea {
  resize: none;
}

@media (max-width: 768px) {
  .get-involved-section {
    height: 51vh;
    margin-top: 61px;
  }
  .donate-head {
    font-size: 25px;
    line-height: 25px;
  }
  .donate-section h3 {
    font-size: 25px;
    line-height: 25px;
  }
  .donate-section h5 {
    font-size: 20px;
    line-height: normal;
  }
  .donate-section p {
    font-size: 17px;
    line-height: normal;
  }
  .contact-us-section {
    margin-top: 60px;
  }
  .contact-us-section .icon i:hover {
    transform: none;
  }
}
/* End of contact us page------- */

/* Events Page------------------- */
.event-image-section {
  background-image: url("/assets/images/event-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  margin-top: 70px;
}

.event-image-section .event-title {
  font-size: 2.5rem; /* Adjust as needed */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Optional text shadow */
}

/* Events Section---------- */
.events-content-section {
  background-color: #f9f9f9;
}

.events-content-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.events-content-section i {
  font-size: 25px;
  color: var(--button-color);
}
.event-heading {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--button-color);
  width: 70%;
}
.txt {
  font-family: Sofia Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--second-text-color);
  width: 70%;
}
.events-content-section img {
  border-radius: 0.5rem;
}
.featured-events-section i {
  font-size: 1.5rem;
  color: #451162;
}
.card-title {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #451162;
}
.events-content-section .event-image {
  border-right: 2px solid #ddd;
}

/* Featured Events Section----- */
.featured-events-section .card {
  border: 2px solid black;
}

.featured-events-section .card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .event-image-section {
    height: 93vh;
    margin-top: 61px;
  }
  .event-item {
    border: none;
  }
  .event-heading {
    width: 100%;
  }
  .txt {
    width: 100%;
  }
  .gallery-page img {
    transform: none !important;
  }
}
/* End Of events Page */

/* Gallery Page-------- */
.gallery-page {
  margin-top: 70px;
}

.gallery-page img {
  transition: transform 0.3s ease;
}

.gallery-page img:hover {
  transform: scale(1.05);
}

/* End Of Gallery Page------ */

/* Programs & Activitis Page----------------- */
.programs-section {
  background-image: url("/assets/images/prog.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; 
  position: relative;
  margin-top: 70px;
}
.programs-section h2 {
  margin-top: 20%;
  font-family: Sofia Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.programs-section .section-title {
  font-size: 3rem; 
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .programs-section {
    height: 90%;
    margin-top: 60px;
  }
  .programs-section h2 {
    font-size: 28px;
    line-height: 0;
    margin-top: 80%;
  }

  .programs-section .section-title {
    font-size: 2rem;
  }
}

/* Table Section------------ */

/* Table Headings */
.programs-table-section table thead th {
  font-size: 1.25rem;
  font-weight: bold;

  color: #451162;
  padding: 12px;
  border-bottom: 2px solid #000;
  text-align: center;
}

/* Table Content */
.programs-table-section table tbody td {
  font-size: 1.1rem;
  color: #626262;
  padding: 20px 10px;
  text-align: center;
}

/* Non-Bordered Table */
.programs-table-section table {
  border-collapse: collapse;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .programs-table-section table thead th {
    font-size: 1rem;
  }
  .programs-table-section table tbody td {
    font-size: 0.88rem;
    padding: 10px 0;
  }
}

/*End Programs & Activitis Page----------------- */

/* Activities page--------------- */
.activities-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.activities-section h3 {
  font-size: 1.5rem;
  color: #666;
}

.activities-section img {
  border: 2px solid #ddd;
}

.activities-section p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #451162;
  margin-top: 8px;
}

/* Donation Page--------------- */
.donate-page-section {
  position: relative;
  background: url("/assets/images/dona2.avif") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.donate-page-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-page-section .container {
  z-index: 1;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.donation-section h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--button-color);
  font-family: Sofia Sans;
  font-weight: 600;
}

.input-icon {
  background-color: var(--button-color);
  font-weight: bold;
  color: var(--bg-color);
  padding: 1rem 1.8rem;
  border: none;
}

.amount-span {
  background-color: var(--button-color);
  border: none;
  font-weight: bold;
  color: var(--bg-color);
  padding: 1rem 1.8rem;
}

.amount-option {
  display: inline-block;
  text-align: center;
  cursor: pointer;

  border: 1px solid var(--button-color) !important;
  color: var(--button-color) !important;
}
.amount-option1 {
  background-color: var(--button-color);
  border: none;
  font-weight: bold;
  color: var(--bg-color);
}
.amount-option:hover {
  background-color: var(--button-color);
  color: #fff !important;
  border-color: none;
}
.amounts {
  gap: 1.5rem;
}

.payment-section {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  font-family: Sofia Sans;
  font-weight: 600;
}

.section-heading {
  font-size: 1.4rem;
  color: var(--second-text-color);
  font-family: Sofia Sans;
}

.total-span {
  background-color: var(--button-color);
  border: none;
  font-weight: bold;
  color: var(--bg-color);
}

textarea {
  resize: none;
}
.form-check-input {
  font-size: 1.6rem;
}
.donate-btn {
  width: Hug (165px) px;
  height: Hug (48px) px;
  top: 309.25px;
  left: 77.18px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--bg-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
  transition: 0.3s ease-in;
}

@media (max-width: 768px) {
  .donate-page-section {
    margin-top: 60px;
    height: 90vh;
  }
  .amounts {
    gap: 0.5rem;
  }
}
/* End Of Donation Page-------------- */

/* News Blogs Page--------------- */
.news-blog-section {
  position: relative;
  height: 100%;
  margin-top: 70px;
}

.bg-image {
  background-image: url("/assets/images/split6.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.news-home {
  background-color: #f9f9f9;
  border-radius: 8px;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.section-heading {
  font-size: 1.5rem;
  color: #555;
}

.work-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.news-heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.news-description {
  font-size: 1rem;
  color: #666;
}

.company-name {
  font-size: 1rem;
  color: var(--button-color);
}

.news-date {
  font-size: 0.9rem;
}

.btn-link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--button-color) !important;
}

@media (max-width: 768px) {
  .news-blog-section {
    position: relative;
    height: 90%;
    margin-top: 61px;
  }
  .news-heading {
    font-size: 1.2rem;
  }
}

/* Filter Buttons---------------- */
.filter-section .filter-btn.active {
  background-color: var(--button-color);
  color: #fff;
}

.filter-section .filter-btn {
  cursor: pointer;
  font-family: Sofia Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  color: var(--button-color);
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid var(--button-color);
  transition: 0.3s ease-in;
}
.filter-section .filter-btn:hover {
  background-color: var(--button-color);
  color: var(--bg-color);
}
.filter-section .card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-section .card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
}
.filter-section .card-body {
  text-align: left;
}

.filter-section .filter-item {
  display: block;
}
.work-title {
  color: var(--second-text-color);
}

/* End of News Blog Section----- */

/* Partnership Page------ */
.partners-section {
  background-color: #f8f9fa; /* Light background */
}
.partners-section .section-title {
  font-size: 2rem;
  font-weight: bold;
}
.partners-section img {
  border-radius: 8px;
}
.partners-section .form-control {
  border-radius: 6px;
}

/* Download Modal------ */
.modal-content {
  background-color: #f8f9fa;
  border-radius: 8px;
}

.modal-header {
  background-color: #9634ca;
  color: white;
}

/* Animations--------------------- */
/* Navbar Animation Effect---- */
@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
