* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
:root {
  --text-color: #222222;
  --button-color: #451162;
  --bg-color: #fff;
  --second-text-color: #626262;
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --neon-box-shaddow: 0 0 0.5rem #12f7ff;
  --h2-font: 3rem;
}
/* Scrollbar------------- */
::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: 5rem;
}

body {
  font-family: Sofia Sans;
  height: 100%;
  padding-top: 70px;
}

/* Navbar Section */
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid #fff;
  padding: 12px 10%;
}
header .logo img {
  width: 100px;
}
header .navlist li {
  position: relative;
}

.navlist {
  display: flex;
  color: #000;
}
.navlist a {
  display: inline-block;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.5s;
  animation: slideAnimation 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  /* opacity: 0; */
  position: relative;
  font-family: Sofia Sans;
  font-size: 20px;

  line-height: 28.8px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.navlist a:hover {
  color: var(--button-color);
}
header .navlist a.active {
  font-weight: bold;
  color: var(--button-color);
  position: relative;
}

header .navlist a.active::after {
  content: "";
  position: absolute;
  left: 19px;
  bottom: 5px;
  height: 2px;
  width: 41%;
  background-color: var(--button-color);
  transition: width 0.3s ease;
}

header .navlist a:hover::after {
  width: 50%;
}
#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background: #fff;
  border-radius: 3px;
  color: #000;
  display: none;
}
.navlist a.active {
  font-weight: bold;
  color: #000;
}
/* Border for Get Involved link */
.nav-link.get-involved {
  color: var(--button-color);
  border: 2px solid var(--button-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
  transition: 0.7s ease;
}
.nav-link.get-involved:hover {
  background-color: var(--button-color);
  color: white;
  border: none;
}
/* Background color for Contact Us link */
.nav-link.contact-us {
  background-color: var(--button-color);
  color: var(--bg-color);
  padding: 5px 10px;
  border-radius: 5px;
}
.nav-link.contact-us:hover {
  background-color: transparent;
  border: 2px solid var(--button-color);
  color: var(--button-color);
}

/* Responsiveness */
@media (max-width: 990px) {
  header,
  header.sticky {
    padding: 15px 5%;
  }
  .navlist {
    padding: 8px 15px;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }
  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0 5%;

    transition: all 0.7s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  header .navlist a.active::after {
    width: 8%;
    bottom: 10px;
  }
  .navlist.open {
    top: 100%;
    display: flex;
  }
}
/* Responsiveness */
@media (max-width: 990px) {
  header,
  header.sticky {
    padding: 15px 5%;
  }
  .navlist {
    padding: 8px 15px;
  }

  .home-content {
    margin-top: 5rem;
  }
  .nav-link.get-involved {
    margin-bottom: 30px;
    width: 50%;
    margin-left: 1.1rem;
  }
  .nav-link.contact-us {
    width: 50%;
    margin-left: 1.1rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }
  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0 5%;
    transition: all 0.7s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .navlist.open {
    top: 100%;
  }
}
/* End of Navbar Section */

/* Hero Section */
.home-section {
  position: relative;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 69px;
}
.hero-section {
  position: relative;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 20%;
  text-align: left;
  width: 52%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-caption h5 {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
  color: #fff;
}
.carousel-caption h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  font-family: Sofia Sans;
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-bottom: 20px;
}

.carousel-caption p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 60px;
  font-weight: 400;
  font-family: Sofia Sans;
}

.btn-donate {
  background-color: var(--button-color);
  color: #fff;
  width: Hug (165px)px;
  height: Hug (48px)px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  top: 10%;
  margin-left: 45%;
  transition: 0.5s;
  font-size: 1.5rem;
  text-decoration: none;
}

.btn-donate:hover {
  background-color: #fff;
  color: var(--button-color);
}

/* Remove carousel controls */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}
/* Style the h1 */
.styled-title {
  font-size: 3rem;
  font-family: Arial, sans-serif;
  text-align: left;
  display: block;
  font-weight: bold;
  color: #fff;
}

/* Style the first part of the title */
.first-part {
  display: block;
  margin-bottom: -18px;
}

/* Style the second part of the title */
.second-part {
  display: block;
  margin-top: -30px;
}

/* Line----------- */
.under {
  display: block;
  width: 100%;
  height: 60px;
  margin-left: 85px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .hero-section {
    height: 100vh;
  }
  .home-section {
    margin-top: 62px;
  }
  .styled-title {
    font-size: 1rem;
  }

  .carousel-caption h5 {
    font-size: 1.2rem;
  }

  .carousel-caption p {
    font-size: 1.2rem;
    max-width: 90%;
  }

  .carousel-caption {
    text-align: left;
    padding: 1rem;
    top: 32%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .btn-donate {
    padding: 0.6rem 1.2rem;
    font-size: 1.5rem;
    margin-left: 30%;
    margin-top: 40px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .styled-title {
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    text-align: left;
    display: block;
    font-weight: bold;
    color: #fff;
  }

  .first-part {
    display: block;
    margin-bottom: -18px;
  }

  .second-part {
    display: block;
    margin-top: -30px;
    font-size: 3.5rem;
  }

  .under {
    display: block;
    width: 100%;
    height: 60px;
    margin-left: 5px;
  }
}

/* End of hero section */

/* Intro Section */
.intro-text {
  background-color: #ffffff; /* White background */
}
.intro-text h2 {
  font-size: 32px;
  color: var(--button-color);
  margin-bottom: 15px;
}
.lead {
  color: #626262;
  font-size: 24px;
}

/* Intro Text Responsivenes------ */
@media (max-width: 768px) {
  .intro-text h2 {
    font-size: 18px;
  }
  .lead {
    font-size: 16px;
  }
}
/* End of intro text section */

/* Work Section--------- */
.work-section {
  background-color: #4511620a;
}
.card {
  border: none;
  background-color: transparent;
  transition: 0.5s;
}
.card:hover {
  border: 1px;
  background-color: var(--bg-color);
  transform: scale(1.05);
}
.card-title {
  font-size: 24px;
  color: #222222;
}

.card-text {
  font-size: 18px;
  color: #626262;
}
.card img {
  width: 120px;
}
.work-btn {
  font-size: 18px;
  width: Hug (142px)px;
height: Hug (48px)px;
padding: 12px 23px 12px 23px;
gap: 10px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
border: 1px solid #cc72ff;
  background-color: #cc72ff;
  color: var(--bg-color);
 transition: 0.5s;
}
.work-btn:hover {
  background-color: var(--bg-color);
  color: #cc72ff;
  border: 1px solid #cc72ff;
}
.prog-btn {
  font-size: 18px;
  width: Hug (142px)px;
  height: Hug (48px)px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: #18a6dc;
  color: var(--bg-color);
  border: 1px solid #18a6dc;
  transition: 0.5s;
}
.prog-btn:hover {
  background-color: var(--bg-color);
  color: #18a6dc;
  border: 1px solid #18a6dc;
}
.media-btn {
  font-size: 18px;
  width: Hug (142px)px;
  height: Hug (48px)px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: #ca1f7b;
  color: var(--bg-color);
  border: 1px solid #ca1f7b;
  transition: 0.5s;
}
.media-btn:hover {
  background-color: var(--bg-color);
  color: #ca1f7b;
  border: 1px solid #ca1f7b;
}
/* End of work Section */

/* About Section------- */
.about-section {
  background-color: #ffffff; 
  position: relative;
  overflow: hidden; 
}

.dot-grid-background-left {
  position: absolute;
  top: 50%;
  left: 34;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 8px);
  grid-template-rows: repeat(6, 8px);
  gap: 20px;
  z-index: 1;
}

.dot-grid-background-left .dot {
  width: 8px;
  height: 8px;
  background-color: var(--button-color);
  border-radius: 50%;
}

.about-content {
  position: relative;
  
}

.container {
  position: relative;
  z-index: 2;
}

/* Title Line */
.title-line {
  height: 4px;
  background-color: var(--button-color);
  max-width: 10%;
  margin-right: 10px;
}

.section-title {
  font-size: 24px;
  color: #222222;
}
.main-title {
  color: #451162;
  font-size: 48px;
  font-weight: 700;
}
.know-us p {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #626262;
}
.know-divs h5 {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #222222;
}
.know-btn {
  width: Hug (142px) px;
  height: Hug (48px) px;
  top: 458.88px;
  left: 129.2px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  border: #451162 1px solid;
  opacity: 0px;
  background-color: #451162;
  transition: 0.5s;
}
.know-btn:hover {
  background-color: var(--bg-color);
  color: #451162;
  border: #451162 1px solid;
}
/* Image Container with Opposite Shadow Effect */
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.active-image {
  opacity: 1;
  z-index: 2;
  transform: translateX(0);
}

.inactive-image {
  opacity: 0;
  z-index: 1;
  transform: translateX(-20px);
  box-shadow: -20px 0 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
  .main-title {
    font-size: 24px;
  }
  .know-us p {
    font-size: 18px;
  }
  .dot-grid-background-left {
    display: none;
  }
  .dot-grid-background-right{
    display: none !important;
  }
  .image-container {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
  }
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
}
/* End of About Section */

/* Events Section------------------------ */
.events-section {
  background-color: #ffffff; 
  position: relative;
  overflow: hidden; 
}
.subtitle{
  font-family: Sofia Sans;
font-size: 30px;
font-weight: 500;
line-height: 36px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: var(--text-color);
text-align: center;
}
.text-muted{
  width: Fixed (261px)px;
height: Fixed (29px)px;
top: 2485.84px;
left: 589.5px;
gap: 0px;
opacity: 0px;
color: var(--second-text-color);
text-align: center;
font-size: 24px;
}
.dot-grid-background-right {
  position: absolute;
  top: 55%;
  right: 30;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 8px);
  grid-template-rows: repeat(6, 8px);
  gap: 20px;
  z-index: 1;
}

.dot-grid-background-right .dot {
  width: 15px;
  height: 15px;
  background-color: var(--button-color);
  border-radius: 50%;
}
/* Vertical Line for Events */
.vertical-line {
  width: 10px;
  background-color: #451162;
  border-radius: 5px;
  height: 90px; /* Stretch line to full height */
}
.event-item {
  align-items: start;
}

.event-title {
  font-family: Sofia Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
color: var(--text-color);  
}
/* Styling for Date */
.event-date {
  text-align: center;
  min-width: 50px;
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.6px;
 
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.event-details{
  width: Fixed (216px)px;
height: Fixed (22px)px;
top: 220px;
left: 707.96px;
gap: 0px;
opacity: 0px;
color: var(--second-text-color);
}
.event-date .date-day .date-year {
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.event-date .date-month .date-year{
  text-transform: uppercase;
  color: #626262;
  
}
.event-details i{
  font-size: 24px;
}
.event-btn{
  width: Hug (142px)px;
height: Hug (48px)px;
top: 3047px;
left: 649px;
padding: 12px 23px 12px 23px;
gap: 10px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
background-color: var(--button-color);
color: var(--bg-color);
transition: 0.5s ease-in;
margin-top: 20px;
}
.event-btn:hover{
  background-color: var(--bg-color);
  color: var(--button-color);
border: 1px solid var(--button-color);
}
/* Responsive adjustments */
@media (max-width: 767px) {
  .event-item {
    flex-direction: row !important; /* Make items align horizontally on mobile */
   
  }
  .event-date {
    font-size: 1.2rem;
    margin-top: 6px;
    margin-right: 8px;
  }
}
/* End of Events Section */

/* Testimonies Section----------- */
.stories img{
  transition: 0.5s;
}
.stories img:hover{
  transform: scale(1.05);
}
.text-start{
  font-family: Sofia Sans;
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
letter-spacing: -0.01em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: var(--second-text-color);
}
.name{
  font-family: Sofia Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.01em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: var(--text-color);
}
@media (max-width: 767px) {
  .text-start{
    width: 85%;
   
  }
}